/* Main stylesheet for Random Wisdom Machine
Author: Rachelle Wood
Date: Sept, 2016 */

/* GENERAL STYLES */

* {
  box-sizing:border-box;
  font-family: 'Cormorant Upright', serif;
  background: url('http://vignette1.wikia.nocookie.net/total-roleplay-drama/images/4/48/Parchment.png/revision/latest?cb=20150606022355') no-repeat center fixed;
  background-size: cover;
}

h1 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 38px;
}

p {
  font-weight: 500;
  font-size: 28px;
}



/* HEADER STYLES */

.header {
  text-align: center;
  margin: 0 auto;
  padding: 15px 0;
}



/* MAIN CONTENT STYLES */

.main-content {
  text-align: center;
}

.main-content p {
  padding: 5px 0;
  margin-bottom: 10px;
}

.btn {
  padding: 10px 5px;
  background-color: #800000;
  font-size: 20px;
  border: 0;
  margin-top: 100px;
}


.btn:visited {
  background-color: #800000;
}

.btn:hover {
  background-color: #CD5C5C;
}

.btn:focus {
  background-color: #DC143C;
}

.btn:active {
  padding: 12px 7px;
}

.btn,
.btn:visited,
.btn:hover,
.btn:focus,
.btn:active {
  color: #fff;
}

.quote-container {
  padding-top: 10px;
  margin: 20px auto;
  width: 600px;

}

/* STICKY FOOTER STYLES */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.text-muted {
  color: #000;
  font-size: 18px;
  margin: 0 20px;
  padding: 0 15px;
}

.text-muted a {
  color: #800000;
}
